.movieDetails__cont {
  position: absolute;
  min-height: calc(100vh - 250px);
  overflow-x: hidden;
  display: block;
  top: 72px;
  padding: 0 calc(3.5vw + 5px);
}

.movieDetails__background {
  left: 0px;
  opacity: 0.8;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.movieDetails__background > img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.movieDetails__imageTitle {
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0px auto;
  height: 30vw;
  min-height: 170px;
  padding-bottom: 24px;
  width: 100%;
}

.movieDetails__imageTitle > img {
  max-width: 600px;
  min-width: 200px;
  width: 35vw;
}

.movieDetails__contentMeta {
  max-width: 874px;
}

.movieDetails__controls {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 24px 0px;
  min-height: 56px;
}

.movieDetails__player {
  font-size: 15px;
  margin: 0px 22px 0px 0px;
  padding: 0px 24px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.movieDetails__player > img {
  width: 32px;
}

.movieDetails__player:hover {
  background: rgb(198, 198, 198);
}

.play {
  background: rgb(249, 249, 249);
  color: #000;
}

.trailer {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
}

.movieDetails__btn {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.addList {
  margin-right: 16px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.addList > span {
  background-color: rgb(249, 249, 249);
  display: inline-block;
}

.addList > span:first-child {
  height: 2px;
  transform: translate(1px, 0px) rotate(0deg);
  width: 16px;
}

.addList > span:nth-child(2) {
  height: 16px;
  transform: translateX(-8px) rotate(0deg);
  width: 2px;
}

.groupWatch {
  background: #fff;
}

.groupWatch > div {
  height: 40px;
  width: 40px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}

.groupWatch > div > img {
  width: 100%;
}

.movieDetails__subTitle {
  color: rgb(249, 249, 249);
  font-size: 15px;
  min-height: 20px;
}

.movieDetails__desc {
  line-height: 1.4;
  font-size: 20px;
  padding: 16px 0px;
  color: rgb(249, 249, 249);
}

@media (max-width: 768px) {
  .movieDetails__background > img {
    width: initial;
  }
  .movieDetails__player {
    height: 45px;
    padding: 0px 12px;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
  }
  .movieDetails__player > img {
    width: 25px;
  }
  .movieDetails__subTitle {
    font-size: 12px;
  }
  .movieDetails__desc {
    font-size: 14px;
  }
}